# github folder holds administrative files
.github/** @pcdshub/software-admin

# default group
* @pcdshub/tmo-members @pcdshub/vacuum-sme

# language-specific group(s)
*.py* @pcdshub/python-reviewers @pcdshub/tmo-members @pcdshub/vacuum-sme
*.{plcproj,sln,TcDUT,TcGVL,TcPOU,TcTTO,tmc,tsproj,xti} @pcdshub/twincat-reviewers @pcdshub/tmo-members @pcdshub/vacuum-sme
