# github folder holds administrative files
.github/** @pcdshub/software-admin

# default group
* @pcdshub/vacuum-sme @pcdshub/tmo-members

# language-specific group(s)
*.py* @pcdshub/python-reviewers @pcdshub/vacuum-sme @pcdshub/tmo-members
*.{plcproj,sln,TcDUT,TcGVL,TcPOU,TcTTO,tmc,tsproj,xti} @pcdshub/twincat-reviewers @pcdshub/vacuum-sme @pcdshub/tmo-members
