# Default owners are pcds-platforms-development
* @robert-test-tk

*.txt @tangkong @pcdshub/shell-reviewers

*.py @ZLLentz

**/*.{py,pyi,pyc,pyw,pyx,pyd} @pcdshub/python-reviewers

.github/** @pcdshub/software-admin
